# Change this file to .env

SECRET_KEY=3izb^ryglj(bvrjb2_y1fZvcnbky#358_l6-nn#i8fkug4mmz!

# Entorno desarrollo
DEBUG=True

#SITE_NAME=mysite.domain.com

LOGIN_URL=/seg/login/
LOGOUT_URL=/seg/logout/
LOGIN_REDIRECT_URL=/r/
LOGOUT_REDIRECT_URL=/seg/login/

DB_ENGINE=django.db.backends.mysql
DB_NAME=mydbname
DB_USER=root
DB_PASSWORD=ejemplo
DB_HOST=127.0.0.1
DB_PORT=3306


LANGUAGE_CODE=es-ar

TIME_ZONE=America/Argentina/Buenos_Aires

#STATIC_ROOT=/home/bgpmaxtest/www/static

DEFAULT_FROM_EMAIL=bgpmax@itecnis.com

ALLOWED_HOSTS=.localhost, .herokuapp.com
